<div class="page-header">
        <h1>Список студентов</h1>
</div>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th><h4>ФИО</h4></th>
      <th><h4>Группа</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= button_to student.surname + " " + student.name,student,:class => "btn btn-link",:method => :get %></td>
        <td><%= button_to student.group.name,student.group,:class =>"btn btn-link" ,:method => :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if session[:teacher_id] %>
	<%= button_to 'Создать студента', new_student_path,:class => "btn btn-info",:method => :get %>
<% end %> 
