<h2>Выберите предмет:</h2>
<div class="col-sm-4">
    <ul style="list-style: none;" class="list-group">
        <% @subjects.each do |subject| %>
            <li>
	            <%= link_to subject.title ,	
				{:controller => "admin",:action => "choose_group",:subject_id =>subject.id},
				{:class=>"list-group-item btn-link"} %>
			</li>
        <% end %>
    </ul>
</div>

