<div class="page-header">
	<h1>Список групп</h1>
</div>
<% i = 1 %>
<div class="row">
<% while i < 5 %>
	<%Group.where("course = #{i}").each do |one_group|%>
		<div class="col-sm-4 thumbnail" align="center" >
			<h2><%= "#{i}" + " курс" %> </h2>
			<ul style="list-style: none;" class="list-group">
				<li><h5><%= link_to one_group.name ,one_group,{:class=>"list-group-item btn-link"} %></h5></li>
			</ul>
		</div>
	<% end %>
	<% i+=1 %>
<%end %>
</div>

<% if session[:teacher_id] %>
<%= button_to 'Создать группу', new_group_path,:class => "btn btn-info",:method => :get %>
<%end %>
