<div class="page-header">
	<h1>Предметы</h1>
</div>
<div class="row">
    <% @subjects.each do |subject| %>
		<div class="col-md-2" align="center">
        	<%= link_to image_tag(subject.img,:class=>"img-responsive")+subject.title,subject,:class=>"thumbnail btn-link" ,:style=>"font-weight:bold;"%>
		</div>
    <% end %>
</div>
<% if session[:teacher_id] %>
<%= button_to 'Создать предмет', new_subject_path,:class=>"btn btn-info",:method=> :get %>
<% end %>
