<div class="page-header">
    <h1>Преподаватели</h1>
</div>
<div class="row">
    <% @teachers.each do |teacher| %>
        <div class="col-md-2" align="center">
            <%= link_to image_tag(teacher.img,:class=>"img-responsive") + teacher.name + " " + teacher.patronymic + " " + teacher.surname,teacher,:class=>"thumbnail btn-link" ,:style=>"font-weight:bold;"%>
        </div>
    <% end %>
</div>
<% if session[:teacher_id] %>
<%= button_to 'Зарегистрировать преподавателя', new_teacher_path,:method => :get,:class=>"btn btn-info" %>
<% end %>
